@font-face {
	font-family: 'Source Sans Pro';
	src: url('/assets/font/SourceSansPro.ttf');
}

@font-face {
	font-family: 'Fira Code';
	src: url('/assets/font/FiraCode.ttf');
}

body {
	background: #1f1f1f;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

div.background {
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: -1;
	filter: blur(50px);
	overflow: hidden;
}

div.blob {
	background: #1abc9c7f;
	border-radius: 50%;
	top: -25%;
	left: -25%;
	width: 50%;
	height: 50%;
	position: absolute;
	z-index: -1;
}

div.content {
	color: white;
	padding-top: 10vh;
	z-index: 0;
}

h1 {
	margin: 50px 0 50px 0;
	font-size: 35pt;
}

h2 {
	margin: 40px 0 40px 0;
	font-size: 30pt;
}

h3 {
	margin: 30px 0 30px 0;
	font-size: 25pt;
}

h4 {
	margin: 20px 0 20px 0;
	font-size: 20pt;
}

h5 {
	margin: 10px 0 10px 0;
	font-size: 15pt;
}

h6 {
	margin: 10px 0 10px 0;
	font-size: 10pt;
}

a {
	color: white;
}

p {
	margin: 10px 0 10px 0;
	font-size: 20pt;
}

li {
	font-size: 20pt;
}

.highlight {
	color: #1abc9c;
}

div.spaced {
	margin-top: 30px;
}

div.inline {
	margin: 0;
	padding: 0;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	display: flex;
}

a.logo-button {
	background: #4f4f4f;
	border-radius: 20px;
	padding: 5px;
	width: 50px;
	height: 50px;
	text-align: center;
	top: 50%;
	font-size: 25pt;
	display: block;
}

a.logo-button * {
	vertical-align: middle;
}

a.logo-button:hover {
	background: #2f2f2fc0;
}

img.main-avatar {
	border-radius: 50%;
	max-width: 100%;
	width: auto;
	height: auto;
}

div.section {
	margin: 0;
	padding: 50px 10px 10px 10px;
	overflow-wrap: break-word;
}

div.split {
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
}

div.split-half {
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.articles-list {
	flex-direction: row;
	flex-wrap: wrap;
	gap: 40px;
	display: flex;
}

div.article-element {
	background: #4f4f4f7f;
	backdrop-filter: blur(5px);
	border: 0;
	border-radius: 20px;
	color: #fff;
	text-decoration: none;
	width: 0;
	min-height: 240px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	flex-basis: 100%;
	overflow-wrap: break-word;
}

img.article-cover {
	border-radius: 20px 20px 0 0;
	width: 100%;
	height: 200px;
	object-fit: cover;
}

div.article-element-content {
	padding: 20px;
}

div.article-element-content h3 {
	margin-top: 0;
}

div.article-element-content a {
	color: #fff;
	text-decoration: none;
}

ul.tags {
	margin: 0;
	padding: 0;
	list-style-type: none;
	white-space: nowrap;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	display: flex;
}

ul.tags li.tag {
	background: #1f1f1f;
	border: 0;
	border-radius: 10px;
	margin: 0;
	padding: 5px 10px 5px 10px;
	font-size: 10pt;
	align-self: start;
}

div.article-element-content a.read-button {
	background: transparent;
	border: 3px solid #1abc9c;
	border-radius: 30px;
	color: #1abc9c;
	margin-top: 10px;
	padding: 10px 20px 10px 20px;
	height: 30px;
	text-align: center;
	font-size: 15pt;
	vertical-align: bottom;
	display: inline-flex;
}

div.article-element-content a.read-button:hover {
	background: #1abc9c;
	color: white;
}

div.fixed-buttons {
	padding-right: 30px;
	left: 30%;
	transform: translateX(-100%);
	position: fixed;
	flex-direction: column;
	display: flex;
}

a.fixed-button {
	color: white;
	padding: 40px;
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 30pt;
}

a.fixed-button:hover {
	opacity: 0.5;
}

div.share {
	margin: 20px 0 20px 0;
	text-align: right;
	float: right;
}

div.share p,ul {
	margin: 5px;
}

ul.share {
	list-style-type: none;
	white-space: nowrap;
	float: right;
}

ul.share li {
	font-size: 25pt;
	display: inline;
}

ul.share li:hover {
	opacity: 0.5;
}

div.article-section {
	margin: 0;
	padding: 0 10px 0 10px;
	overflow-wrap: break-word;
}

div.article-section img {
	margin: 0;
	max-width: 100%;
	height: auto;
	border-radius: 20px;
}

div.article-section img.cover {
	width: 100%;
}

code {
	background: #0d1117;
	color: #ffffff;
	padding: 3px;
}

pre code {
	padding: 10px;
	font-family: 'Fira Code', monospace;
	font-variant-ligatures: none;
	display: block;
}

table {
	background: #2f2f2f;
	border: 3px solid white;
	border-radius: 10px;
	border-spacing: 0;
}

th {
	border: 1px solid white;
	border-bottom: 3px solid white;
	padding: 10px;
}

td {
	border: 1px solid white;
	padding: 10px 20px 10px 20px;
}

blockquote {
	border-left: 5px solid gray;
	margin-left: 0;
	padding-left: 20px;
}

input, textarea, button {
	background: #4f4f4fc0;
	color: white;
	border: 0;
	border-radius: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15pt;
	box-sizing: border-box;
}

input[type = "text"], textarea {
	padding: 20px;
	height: 50px;
}

input[type = "checkbox"] {
	width: auto;
}

input[type = "submit"], button {
	padding-left: 20px;
	padding-right: 20px;
	width: auto;
	cursor: pointer;
}

input[type = "submit"]:not([disabled]):hover, button:not([disabled]):hover {
	background: #0f0f0fc0;
}

input[type = "submit"]:disabled:hover, button:disabled:hover {
	cursor: auto;
}

::placeholder {
	color: white;
	font-size: 15pt;
	opacity: 1;
}

*:focus {
    outline: none;
}

textarea {
	width: 100%;
	resize: none;
}

div.comments {
	background: #5f5f5f7f;
	backdrop-filter: blur(10px);
	color: #fff;
	padding: 20px;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	position: fixed;
	box-sizing: border-box;
	flex-direction: column;
	gap: 30px;
	display: flex;
}

div.comments-header {
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	display: flex;
}

div.comments-header * {
	vertical-align: middle;
}

div.comments-header h3 {
	margin-top: auto;
	margin-bottom: auto;
}

div.comments-list {
	border-radius: 20px;
	overflow-y: scroll;
	flex-grow: 1;
}

div.comment {
	background: #2f2f2fc0;
	border-radius: 20px;
	margin-bottom: 10px;
	padding: 20px;
}

div.comment-header {
	flex-direction: row;
	flex-basis: 10px;
	flex-wrap: wrap;
	gap: 20px;
	display: flex;
}

div.comment-header div {
	margin: 0;
	flex-grow: 0;
}

div.comment-header div * {
	vertical-align: middle;
}

img.comment-avatar {
	border-radius: 100%;
	width: 50px;
}

div.comment-buttons {
	flex-direction: row;
	gap: 10px;
	display: flex;
}

a.comment-button {
	background: #4f4f4f;
	border: 3px solid #7f7f7f;
	border-radius: 50%;
	padding: 5px;
	width: 20px;
	height: 20px;
	text-align: center;
	cursor: pointer;
	display: block;
}

a.comment-button:hover {
	border: 3px solid #9f9f9f;
}

a.comment-button.active {
	border-color: #1abc9c;
}

div.reaction-selector {
	background: #1f1f1f;
	border-radius: 10px;
	overflow: clip;
	flex-direction: row;
	display: inline-flex;
}

a.reaction-button {
	padding: 10px;
	font-size: 20pt;
	cursor: pointer;
}

a.reaction-button:hover {
	background: #3f3f3f;
}

div.comment-content {
	overflow-wrap: break-word;
}

a.login-button {
	background: #1f1f1f;
	color: #fff;
	border: 0;
	border-radius: 50px;
	margin: 20px;
	padding: 20px;
	width: fit-content;
	text-decoration: none;
	font-size: 15pt;
	display: block;
}

a.login-button:hover {
	background: #0f0f0f;
}

div.comment-editor {
	padding-bottom: 20px;
	bottom: 0;
	width: 100%;
	flex-direction: row;
	gap: 10px;
	display: flex;
}

div.comment-editor textarea {
	flex-grow: 1;
}

@media(max-width: 1200px) {
	div.split {
		flex-direction: reverse;
	}

	div.split.reverse {
		flex-direction: column-reverse;
	}
}

@media(min-width: 1200px) {
	div.section {
		padding-left: 20%;
		padding-right: 20%;
	}

	div.article-section {
		padding-left: 30%;
		padding-right: 30%;
	}

	div.split {
		flex-direction: row;
	}

	div.split-half {
		flex-basis: 50%;
	}

	div.article-element {
		flex-basis: 30%;
	}

	div.comments {
		border-radius: 30px 0 0 30px;
		width: 40vw;
	}

	footer {
		padding-left: 20%;
		padding-right: 20%;
	}
}
