@font-face {
	font-family: 'Fira Code';
	src: url('/assets/font/FiraCode.ttf');
}

@media (prefers-color-scheme: dark) {
	body {
		background: #2f2f2f;
		color: white;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background: white;
		color: black;
	}
}

body {
	margin: 0;
	font-family: 'Fira Code', monospace;
}

div.section {
	margin: 0;
	padding: 10px;
}

@media(min-width: 1024px) {
	div.section {
		padding-left: 20%;
		padding-right: 20%;
	}
}

a {
	color: black;
}

.intro {
	background-color: #006266;
	color: #fff;
}

.articles-list {
	background-color: #1b1464;
	color: #fff;
}

div.articles-list-inner {
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
}

div.article {
	background: orange;
	text-decoration: none;
	margin: 0;
	padding: 30px;
	width: 100%;
	height: 240px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	flex-basis: 100%;
}

div.article a {
	text-decoration: none;
}

@media(min-width: 1024px) {
	div.article {
		flex-basis: 50%;
	}
}

a.page-button {
	background-color: #006266;
	color: #fff;
	text-align: center;
	text-decoration: none;
	margin: 0;
	padding: 10px;
	width: 100%;
	flex-basis: 40%;
}

div.reactions {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

a.reaction {
	background: #1f1f1f;
	border-radius: 5px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 0 5px 0 5px;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
}

a.reaction:hover {
	background: #2f2f2f;
}

input, textarea {
	padding: 5px;
	width: 100%;
	font-family: 'Fira Code', monospace;
}

*:focus {
    outline: none;
}

textarea {
	height: 300px;
}

button {
	background-color: #1f1f1f;
	border: none;
	color: #fff;
	text-align: center;
	text-decoration: none;
	margin: 0;
	padding: 10px;
	cursor: pointer;
}

footer {
	background-color: #1f1f1f;
	color: #999;
	padding: 10px 30px 10px 30px;;
}

@media(min-width: 1024px) {
	footer {
		padding-left: 20%;
		padding-right: 20%;
	}
}

footer a {
	color: white;
}
