@font-face {
	font-family: 'Fira Code';
	src: url('/assets/font/FiraCode.ttf');
}

@media (prefers-color-scheme: dark) {
	body {
		background: #2f2f2f;
		color: white;
	}

	a {
		color: white;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background: white;
		color: black;
	}

	a {
		color: black;
	}
}

body {
	margin: 0;
	font-family: 'Fira Code', monospace;
}

div.section {
	margin: 0;
	padding: 10px;
	overflow-wrap: break-word;
}

@media(min-width: 1024px) {
	div.section {
		padding-left: 20%;
		padding-right: 20%;
	}
}

.intro {
	background-color: #006266;
	color: #fff;
}

div.bio {
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
}

div.bio-half {
	padding: 10px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	flex-basis: 100%;
}

@media(min-width: 1024px) {
	div.bio-half {
		flex-basis: 50%;
	}
}

.articles-list {
	background-color: #1b1464;
	color: #fff;
}

div.articles-list-inner {
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
}

div.article {
	background: #2f2f2f;
	text-decoration: none;
	margin: 0;
	margin-bottom: 10px;
	padding: 30px;
	width: 100%;
	min-height: 240px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	flex-basis: 100%;
}

div.article a {
	text-decoration: none;
}

a.button {
	background-color: #006266;
	color: #fff;
	text-align: center;
	text-decoration: none;
	margin: 10px;
	padding: 10px;
	cursor: pointer;
}

a.button:hover {
	background-color: #003133;
}

.read-button {
	background: #006266;
	border: 1px solid white;
	border-radius: 10px;
	padding: 10px;
	float: right;
}

.read-button:hover {
	background: white;
	color: #006266;
}

.page-button {
	width: 100%;
	flex-basis: 40%;
}

ul.tags {
	padding: 0;
	list-style-type: none;
	white-space: nowrap;
}

ul.tags li {
	margin-right: 10px;
	padding: 5px;
	border: 1px solid white;
	border-radius: 10px;
	font-size: 10px;
	display: inline;
}

div.share {
	margin: 20px 0 20px 0;
	float: right;
}

div.share p,ul {
	margin: 5px;
}

ul.share {
	list-style-type: none;
	white-space: nowrap;
	float: right;
}

ul.share li {
	font-size: 30px;
	display: inline;
}

ul.share li:hover {
	opacity: 0.5;
}

table {
	border: 3px solid white;
	border-spacing: 0;
	border-collapse: collapse;
}

code {
	background: #000;
	font-family: 'Fira Code', monospace;
	font-variant-ligatures: none;
}

pre code {
	padding: 10px;
	display: block;
}

th {
	border: 1px solid white;
	border-bottom: 3px solid white;
	padding: 10px;
}

td {
	border: 1px solid white;
	padding: 10px;
}

div.reactions {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

a.reaction {
	background: #1f1f1f;
	border-radius: 5px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 0 5px 0 5px;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
}

a.reaction:hover {
	background: #2f2f2f;
}

input, textarea {
	padding: 5px;
	width: 100%;
	font-family: 'Fira Code', monospace;
}

input[type=checkbox] {
	width: auto;
}

*:focus {
    outline: none;
}

textarea {
	width: 100%;
	height: 50px;
	padding: 0;
	resize: none;
}

div.comment {
	background: #2f2f2f;
	margin-bottom: 10px;
}

div.comment-header {
	background: #1f1f1f;
	padding: 20px;
}

div.comment-header.tier-1 {
	background: linear-gradient(45deg, #1f1f1f 70%, #ea2027 90%);
}

.tier-1-logo {
	text-align: center;
	font-size: 30px;
}

div.comment:hover .tier-1-logo {
	animation: 1s ease-in-out 0s infinite alternate heartbeat;
}

@keyframes heartbeat {
	from {
		font-size: 30px;
	}

	to {
		font-size: 40px;
	}
}

div.comment-header.tier-2 {
	background: linear-gradient(45deg, #1f1f1f 70%, #1b1464 90%);
}

.tier-2-logo {
	text-align: center;
	font-size: 30px;
	overflow: hidden;
	position: relative;
}

div.comment:hover .tier-2-logo {
	animation: 1s ease-in 0s infinite normal rocket;
}

@keyframes rocket {
	from {
		left: 0;
		bottom: 0;
	}

	to {
		left: 30px;
		bottom: 30px;
	}
}

div.comment.tier-3 {
	background: linear-gradient(45deg, #1f1f1f 70%, #ffc312 90%);
}

.tier-3-logo {
	text-align: center;
	font-size: 30px;
}

div.comment-header:hover .tier-3-logo {
	animation: spin 1s infinite linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}

div.comment-header * {
	display: inline;
}

img.avatar {
	border-radius: 100%;
	width: 50px;
}

div.comment-content {
	padding: 20px;
	padding-top: 0;
	overflow-wrap: break-word;
}

ul.comment-buttons {
	padding: 10px 0 10px 0;
	list-style-type: none;
	white-space: nowrap;
}

ul.comment-buttons li {
	display: inline;
}

footer {
	background-color: #1f1f1f;
	color: #999;
	padding: 10px 30px 10px 30px;;
}

@media(min-width: 1024px) {
	footer {
		padding-left: 20%;
		padding-right: 20%;
	}
}

footer a {
	color: white;
}
